workflow/Scan & Fix speed-to-lead automation.json
{
  "name": "Scan & Fix speed-to-lead automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scanfix-lead",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "44949fea-e38a-4883-bfa1-b80732d883d6",
      "name": "Webhook",
      "webhookId": "10cd93f0-1a26-48ff-8f55-b21c09227f4f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ab0e1c5-9921-4480-8b47-27f0eb8d8b1a",
              "name": "contractor_id",
              "value": "={{$json[\"body\"][\"contractor_id\"]}}",
              "type": "string"
            },
            {
              "id": "c86d289a-483d-4eaf-824e-e857b5d5f034",
              "name": "contractor_name",
              "value": "={{$json[\"body\"][\"contractor_name\"]}}",
              "type": "string"
            },
            {
              "id": "8d79aae3-2425-4853-8081-3a904081cca6",
              "name": "directory_id",
              "value": "={{$json[\"body\"][\"directory_id\"]}}",
              "type": "string"
            },
            {
              "id": "286a4fbb-34d5-4e53-a37b-5e46137312bd",
              "name": "lead_source",
              "value": "={{$json[\"body\"][\"lead_source\"]}}",
              "type": "string"
            },
            {
              "id": "4122069e-9ea5-429f-a335-7dfbaefa4227",
              "name": "page_url",
              "value": "={{$json[\"body\"][\"page_url\"]}}",
              "type": "string"
            },
            {
              "id": "b2bb7774-b4ad-46a7-bc20-8b60ce40e6d2",
              "name": "full_name",
              "value": "={{$json[\"body\"][\"full_name\"]}}",
              "type": "string"
            },
            {
              "id": "6cfc16b1-b617-427d-ad93-d6b958121530",
              "name": "phone",
              "value": "={{$json[\"body\"][\"phone\"]}}",
              "type": "string"
            },
            {
              "id": "049cedce-292d-4239-a11d-f26501d9cbbf",
              "name": "email",
              "value": "={{$json[\"body\"][\"email\"]}}",
              "type": "string"
            },
            {
              "id": "2d66c3db-2dc1-490e-8eea-b3127cc50158",
              "name": "address",
              "value": "={{$json[\"body\"][\"address\"]}}",
              "type": "string"
            },
            {
              "id": "58191737-294c-4f04-b1e4-b2b0d21a9177",
              "name": "city",
              "value": "={{$json[\"body\"][\"city\"]}}",
              "type": "string"
            },
            {
              "id": "e65914c1-e737-4f5b-ae79-dfce7b8915e8",
              "name": "service_type",
              "value": "={{$json[\"body\"][\"service_type\"]}}",
              "type": "string"
            },
            {
              "id": "a6f0e414-11c0-4cc6-88ae-15d398aa6d20",
              "name": "urgency",
              "value": "={{$json[\"body\"][\"urgency\"]}}",
              "type": "string"
            },
            {
              "id": "d0657d78-bb5a-4f1d-aa41-761ecfa9b86e",
              "name": "issue_summary",
              "value": "={{$json[\"body\"][\"issue_summary\"]}}",
              "type": "string"
            },
            {
              "id": "c46aa51b-8bd6-4a65-8e6e-85b01a5c4299",
              "name": "preferred_contact_method",
              "value": "={{$json[\"body\"][\"preferred_contact_method\"]}}",
              "type": "string"
            },
            {
              "id": "9d2baddd-0be1-4429-a398-e6ce757ce321",
              "name": "best_time_to_call",
              "value": "={{$json[\"body\"][\"best_time_to_call\"]}}",
              "type": "string"
            },
            {
              "id": "bb923812-8ec4-414e-a7b3-f6329d67cb5d",
              "name": "consent_sms",
              "value": "={{$json[\"body\"][\"consent_sms\"]}}",
              "type": "string"
            },
            {
              "id": "9063840e-367c-40dc-8b97-edce1f5369df",
              "name": "lead_id",
              "value": "=LEAD_{{$now.format(\"YYYYMMDDHHmmss\")}}",
              "type": "string"
            },
            {
              "id": "85b48bbc-89f9-47da-bf24-56ea8d6f221b",
              "name": "created_at",
              "value": "={{$now}}",
              "type": "string"
            },
            {
              "id": "0f3ea7de-1017-4581-baac-c26c0c27922b",
              "name": "updated_at",
              "value": "={{$now}}",
              "type": "string"
            },
            {
              "id": "dc31ad87-8c88-4734-a80c-ea678babf888",
              "name": "status",
              "value": "\"new\"",
              "type": "string"
            },
            {
              "id": "34b9e56a-88cf-4fa7-9275-d173168a4a02",
              "name": "sms_sent",
              "value": "false",
              "type": "string"
            },
            {
              "id": "8fb536d4-f921-4e8e-a82f-ee5e5c10547e",
              "name": "email_sent",
              "value": "false",
              "type": "string"
            },
            {
              "id": "7ae7f54c-0d22-4323-9074-bd03b9ce4eb6",
              "name": "contractor_alert_sent",
              "value": "false",
              "type": "string"
            },
            {
              "id": "ffe30cc6-bf6b-4f06-8685-9ba48834c678",
              "name": "reminder_sent",
              "value": "false",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "b67580be-ed37-4be3-bedf-893c836c386d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1v6_334dPCCs0nfSAkw0UMnTplWYGmjWuJbT3tfpmWPY",
          "mode": "list",
          "cachedResultName": "Scan & Fix leads sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v6_334dPCCs0nfSAkw0UMnTplWYGmjWuJbT3tfpmWPY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v6_334dPCCs0nfSAkw0UMnTplWYGmjWuJbT3tfpmWPY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contractor_id": "={{$json[\"contractor_id\"]}}",
            "contractor_name": "={{$json[\"contractor_name\"]}}",
            "directory_id": "={{$json[\"directory_id\"]}}",
            "lead_source": "={{$json[\"lead_source\"]}}",
            "page_url": "={{$json[\"page_url\"]}}",
            "full_name": "={{$json[\"full_name\"]}}",
            "phone": "={{$json[\"phone\"]}}",
            "email": "={{$json[\"email\"]}}",
            "address": "={{$json[\"address\"]}}",
            "city": "={{$json[\"city\"]}}",
            "service_type": "={{$json[\"service_type\"]}}",
            "urgency": "={{$json[\"urgency\"]}}",
            "issue_summary": "={{$json[\"issue_summary\"]}}",
            "preferred_contact_method": "={{$json[\"preferred_contact_method\"]}}",
            "best_time_to_call": "={{$json[\"best_time_to_call\"]}}",
            "consent_sms": "={{$json[\"consent_sms\"]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "contractor_id",
              "displayName": "contractor_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contractor_name",
              "displayName": "contractor_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "directory_id",
              "displayName": "directory_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead_source",
              "displayName": "lead_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "page_url",
              "displayName": "page_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "service_type",
              "displayName": "service_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "urgency",
              "displayName": "urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "issue_summary",
              "displayName": "issue_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "preferred_contact_method",
              "displayName": "preferred_contact_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "best_time_to_call",
              "displayName": "best_time_to_call",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "consent_sms",
              "displayName": "consent_sms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sms_sent",
              "displayName": "sms_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_sent",
              "displayName": "email_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contractor_alert_sent",
              "displayName": "contractor_alert_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reminder_sent",
              "displayName": "reminder_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "0e46e0bc-9443-48a3-bfff-b072b784dc6c",
      "name": "Append row in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XKdbivtt9GGCEPOE",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1248,
        0
      ],
      "id": "96893d90-beeb-4c90-8b41-4061aaf473a8",
      "name": "Wait",
      "webhookId": "9c0048a7-0322-45d7-8a75-d18e15bd8f90"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "01ad012f-b80f-4724-bb0e-097fb46a7829",
              "leftValue": "={{$node[\"Edit Fields\"].json[\"status\"]}}",
              "rightValue": "\"new\"",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1456,
        0
      ],
      "id": "4f2c9569-cb41-4fa5-bdb7-58b118db431a",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{$node[\"Edit Fields\"].json[\"email\"]}}",
        "subject": "Scan & Fix – Request Received",
        "emailType": "text",
        "message": "=Hi {{$json[\"full_name\"]}},  Thank you for contacting Scan & Fix.  We have successfully received your {{$json[\"service_type\"]}} request.  Issue Summary: {{$json[\"issue_summary\"]}}  Our contractor team will contact you shortly. \nBest regards, \nScan & Fix Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        832,
        0
      ],
      "id": "58d295f2-e60b-4399-81fc-f1d6f1fabe02",
      "name": "Homewoner Email",
      "webhookId": "1d929671-292c-4760-9df7-1e49501d54e1",
      "credentials": {
        "gmailOAuth2": {
          "id": "0CKl7D6SHblkB1nm",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "kunduchaity123@gmail.com",
        "subject": "=New Lead: {{$node[\"Edit Fields\"].json[\"full_name\"]}}",
        "emailType": "text",
        "message": "=Hello {{$node[\"Edit Fields\"].json[\"contractor_name\"]}},\n\nThis is a reminder that the lead below is still marked as NEW:\n\nName: {{$node[\"Edit Fields\"].json[\"full_name\"]}}\nPhone: {{$node[\"Edit Fields\"].json[\"phone\"]}}\nEmail: {{$node[\"Edit Fields\"].json[\"email\"]}}\nService: {{$node[\"Edit Fields\"].json[\"service_type\"]}}\nUrgency: {{$node[\"Edit Fields\"].json[\"urgency\"]}}\nIssue Summary: {{$node[\"Edit Fields\"].json[\"issue_summary\"]}}\n\nPlease follow up as soon as possible.\n\nBest regards,\nScan & Fix System\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1040,
        0
      ],
      "id": "1bf36ce1-17ee-4fb8-9109-a3658be2b269",
      "name": "Contractor alert email",
      "webhookId": "38dfeaca-f22b-4e54-9bc2-3278b50513da",
      "credentials": {
        "gmailOAuth2": {
          "id": "0CKl7D6SHblkB1nm",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "chaitykundu323@gmail.com",
        "subject": "=Reminder: New Lead {{$node[\"Edit Fields\"].json[\"full_name\"]}} Still Pending",
        "emailType": "text",
        "message": "=Hello {{$node[\"Edit Fields\"].json[\"contractor_name\"]}},\n\nThis is a reminder that the lead below is still marked as NEW:\n\nName: {{$node[\"Edit Fields\"].json[\"full_name\"]}}\nPhone: {{$node[\"Edit Fields\"].json[\"phone\"]}}\nEmail: {{$node[\"Edit Fields\"].json[\"email\"]}}\nService: {{$node[\"Edit Fields\"].json[\"service_type\"]}}\nUrgency: {{$node[\"Edit Fields\"].json[\"urgency\"]}}\nIssue Summary: {{$node[\"Edit Fields\"].json[\"issue_summary\"]}}\n\nPlease follow up as soon as possible.\n\nBest regards,\nScan & Fix System\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1664,
        -96
      ],
      "id": "7da95894-e305-4873-999c-dfd7e05599c6",
      "name": "Remider message",
      "webhookId": "d29ca9aa-dcc8-40e7-8728-6368b2775dd5",
      "credentials": {
        "gmailOAuth2": {
          "id": "0CKl7D6SHblkB1nm",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "from": "+16783264184",
        "to": "={{$node[\"Edit Fields\"].json[\"phone\"]}}",
        "message": "Hello Dewave, ",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "132c5b5a-88c2-4458-923b-92970cfe1334",
      "name": "Send an SMS/MMS/WhatsApp message",
      "credentials": {
        "twilioApi": {
          "id": "lOOZYgaQW6FCjAaa",
          "name": "Twilio account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Remider message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Homewoner Email": {
      "main": [
        [
          {
            "node": "Contractor alert email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contractor alert email": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an SMS/MMS/WhatsApp message": {
      "main": [
        [
          {
            "node": "Homewoner Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f8ad8915-0a8a-402b-9072-456b00697c13",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37e965d98bfb344f1c03b52c0eb1ca255dfd8ae1b71cc3c045044b351dcb70eb"
  },
  "id": "vODio2UMMubv5pjl",
  "tags": []
}