workflow/Scan & Fix speed-to-lead automation (1).json
{
  "name": "Scan & Fix speed-to-lead automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scanfix-lead",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1456,
        96
      ],
      "id": "79418df5-fb3a-4b53-ade7-66a410b8df7d",
      "name": "Webhook",
      "webhookId": "10cd93f0-1a26-48ff-8f55-b21c09227f4f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ab0e1c5-9921-4480-8b47-27f0eb8d8b1a",
              "name": "contractor_id",
              "value": "={{$json[\"body\"][\"contractor_id\"]}}",
              "type": "string"
            },
            {
              "id": "c86d289a-483d-4eaf-824e-e857b5d5f034",
              "name": "contractor_name",
              "value": "={{$json[\"body\"][\"contractor_name\"]}}",
              "type": "string"
            },
            {
              "id": "8d79aae3-2425-4853-8081-3a904081cca6",
              "name": "directory_id",
              "value": "={{$json[\"body\"][\"directory_id\"]}}",
              "type": "string"
            },
            {
              "id": "286a4fbb-34d5-4e53-a37b-5e46137312bd",
              "name": "lead_source",
              "value": "={{$json[\"body\"][\"lead_source\"]}}",
              "type": "string"
            },
            {
              "id": "4122069e-9ea5-429f-a335-7dfbaefa4227",
              "name": "page_url",
              "value": "={{$json[\"body\"][\"page_url\"]}}",
              "type": "string"
            },
            {
              "id": "b2bb7774-b4ad-46a7-bc20-8b60ce40e6d2",
              "name": "full_name",
              "value": "={{$json[\"body\"][\"full_name\"]}}",
              "type": "string"
            },
            {
              "id": "6cfc16b1-b617-427d-ad93-d6b958121530",
              "name": "phone",
              "value": "={{$json[\"body\"][\"phone\"]}}",
              "type": "string"
            },
            {
              "id": "049cedce-292d-4239-a11d-f26501d9cbbf",
              "name": "email",
              "value": "={{$json[\"body\"][\"email\"]}}",
              "type": "string"
            },
            {
              "id": "2d66c3db-2dc1-490e-8eea-b3127cc50158",
              "name": "address",
              "value": "={{$json[\"body\"][\"address\"]}}",
              "type": "string"
            },
            {
              "id": "58191737-294c-4f04-b1e4-b2b0d21a9177",
              "name": "city",
              "value": "={{$json[\"body\"][\"city\"]}}",
              "type": "string"
            },
            {
              "id": "e65914c1-e737-4f5b-ae79-dfce7b8915e8",
              "name": "service_type",
              "value": "={{$json[\"body\"][\"service_type\"]}}",
              "type": "string"
            },
            {
              "id": "a6f0e414-11c0-4cc6-88ae-15d398aa6d20",
              "name": "urgency",
              "value": "={{$json[\"body\"][\"urgency\"]}}",
              "type": "string"
            },
            {
              "id": "d0657d78-bb5a-4f1d-aa41-761ecfa9b86e",
              "name": "issue_summary",
              "value": "={{$json[\"body\"][\"issue_summary\"]}}",
              "type": "string"
            },
            {
              "id": "c46aa51b-8bd6-4a65-8e6e-85b01a5c4299",
              "name": "preferred_contact_method",
              "value": "={{$json[\"body\"][\"preferred_contact_method\"]}}",
              "type": "string"
            },
            {
              "id": "9d2baddd-0be1-4429-a398-e6ce757ce321",
              "name": "best_time_to_call",
              "value": "={{$json[\"body\"][\"best_time_to_call\"]}}",
              "type": "string"
            },
            {
              "id": "bb923812-8ec4-414e-a7b3-f6329d67cb5d",
              "name": "consent_sms",
              "value": "={{$json[\"body\"][\"consent_sms\"]}}",
              "type": "string"
            },
            {
              "id": "9063840e-367c-40dc-8b97-edce1f5369df",
              "name": "lead_id",
              "value": "=LEAD_{{$now.format(\"YYYYMMDDHHmmss\")}}",
              "type": "string"
            },
            {
              "id": "85b48bbc-89f9-47da-bf24-56ea8d6f221b",
              "name": "created_at",
              "value": "={{$now}}",
              "type": "string"
            },
            {
              "id": "0f3ea7de-1017-4581-baac-c26c0c27922b",
              "name": "updated_at",
              "value": "={{$now}}",
              "type": "string"
            },
            {
              "id": "dc31ad87-8c88-4734-a80c-ea678babf888",
              "name": "status",
              "value": "\"new\"",
              "type": "string"
            },
            {
              "id": "34b9e56a-88cf-4fa7-9275-d173168a4a02",
              "name": "sms_sent",
              "value": "false",
              "type": "string"
            },
            {
              "id": "8fb536d4-f921-4e8e-a82f-ee5e5c10547e",
              "name": "email_sent",
              "value": "false",
              "type": "string"
            },
            {
              "id": "7ae7f54c-0d22-4323-9074-bd03b9ce4eb6",
              "name": "contractor_alert_sent",
              "value": "false",
              "type": "string"
            },
            {
              "id": "ffe30cc6-bf6b-4f06-8685-9ba48834c678",
              "name": "reminder_sent",
              "value": "false",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1248,
        96
      ],
      "id": "c92fc076-7b17-4578-9bf7-6dcd370ff5ac",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1v6_334dPCCs0nfSAkw0UMnTplWYGmjWuJbT3tfpmWPY",
          "mode": "list",
          "cachedResultName": "Scan & Fix leads sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v6_334dPCCs0nfSAkw0UMnTplWYGmjWuJbT3tfpmWPY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v6_334dPCCs0nfSAkw0UMnTplWYGmjWuJbT3tfpmWPY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contractor_id": "={{$json[\"contractor_id\"]}}",
            "contractor_name": "={{$json[\"contractor_name\"]}}",
            "directory_id": "={{$json[\"directory_id\"]}}",
            "lead_source": "={{$json[\"lead_source\"]}}",
            "page_url": "={{$json[\"page_url\"]}}",
            "full_name": "={{$json[\"full_name\"]}}",
            "phone": "={{$json[\"phone\"]}}",
            "email": "={{$json[\"email\"]}}",
            "address": "={{$json[\"address\"]}}",
            "city": "={{$json[\"city\"]}}",
            "service_type": "={{$json[\"service_type\"]}}",
            "urgency": "={{$json[\"urgency\"]}}",
            "issue_summary": "={{$json[\"issue_summary\"]}}",
            "preferred_contact_method": "={{$json[\"preferred_contact_method\"]}}",
            "best_time_to_call": "={{$json[\"best_time_to_call\"]}}",
            "consent_sms": "={{$json[\"consent_sms\"]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "contractor_id",
              "displayName": "contractor_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contractor_name",
              "displayName": "contractor_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "directory_id",
              "displayName": "directory_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead_source",
              "displayName": "lead_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "page_url",
              "displayName": "page_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "service_type",
              "displayName": "service_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "urgency",
              "displayName": "urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "issue_summary",
              "displayName": "issue_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "preferred_contact_method",
              "displayName": "preferred_contact_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "best_time_to_call",
              "displayName": "best_time_to_call",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "consent_sms",
              "displayName": "consent_sms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sms_sent",
              "displayName": "sms_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_sent",
              "displayName": "email_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contractor_alert_sent",
              "displayName": "contractor_alert_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reminder_sent",
              "displayName": "reminder_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1040,
        96
      ],
      "id": "36df988f-ddea-4713-b805-869fb0afd844",
      "name": "Append row in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3ayQN5Q4gzqmN9MN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -208,
        96
      ],
      "id": "94e36456-63b7-45a2-9957-be0240c561fa",
      "name": "Wait",
      "webhookId": "9c0048a7-0322-45d7-8a75-d18e15bd8f90"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "01ad012f-b80f-4724-bb0e-097fb46a7829",
              "leftValue": "={{$node[\"Edit Fields\"].json[\"status\"]}}",
              "rightValue": "\"new\"",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        96
      ],
      "id": "2813f256-7166-43e8-af5a-58138aacf840",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Append row in sheet').item.json.email }}",
        "subject": "Scan & Fix – Request Received",
        "emailType": "text",
        "message": "=Hi {{ $('Edit Fields').item.json.full_name }} ,\n\nThank you for contacting Scan & Fix.\n\nWe have successfully received your {{ $('Edit Fields').item.json.service_type }} request and our team has recorded the details for review.\n\nIssue Summary:\n{{ $('Edit Fields').item.json.issue_summary }}\n\nOne of our verified contractors will review your request and reach out to you shortly to assist further.\n\nBest regards,  \nScan & Fix Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -624,
        96
      ],
      "id": "9b80a116-f3fa-4f05-b5eb-e870926853ac",
      "name": "Homewoner Email",
      "webhookId": "1d929671-292c-4760-9df7-1e49501d54e1",
      "credentials": {
        "gmailOAuth2": {
          "id": "KgMdPeneYxWSKLMU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "kunduchaity123@gmail.com",
        "subject": "=New Lead Assigned: {{$node[\"Edit Fields\"].json[\"full_name\"]}}",
        "emailType": "text",
        "message": "=Hello {{$node[\"Edit Fields\"].json[\"contractor_name\"]}},\n\nThis is a reminder that a lead assigned to you is still marked as NEW and requires follow-up.\n\nLead Details:\n\nName: {{$node[\"Edit Fields\"].json[\"full_name\"]}}\nPhone: {{$node[\"Edit Fields\"].json[\"phone\"]}}\nEmail: {{$node[\"Edit Fields\"].json[\"email\"]}}\nService Type: {{$node[\"Edit Fields\"].json[\"service_type\"]}}\nUrgency Level: {{$node[\"Edit Fields\"].json[\"urgency\"]}}\n\nIssue Summary:\n{{$node[\"Edit Fields\"].json[\"issue_summary\"]}}\n\nWe recommend reaching out to the homeowner as soon as possible to ensure timely service and improved customer satisfaction.\n\nBest regards,  \nScan & Fix System",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -416,
        96
      ],
      "id": "2c316c26-4aa5-4468-b678-70d839d3202f",
      "name": "Contractor alert email",
      "webhookId": "38dfeaca-f22b-4e54-9bc2-3278b50513da",
      "credentials": {
        "gmailOAuth2": {
          "id": "KgMdPeneYxWSKLMU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "kunduchaity123@gmail.com",
        "subject": "=Reminder: New Lead {{$node[\"Edit Fields\"].json[\"full_name\"]}} Still Pending",
        "emailType": "text",
        "message": "=Hello {{$node[\"Edit Fields\"].json[\"contractor_name\"]}},\n\nThis is a reminder that the lead below is still marked as NEW:\n\nName: {{$node[\"Edit Fields\"].json[\"full_name\"]}}\nPhone: {{$node[\"Edit Fields\"].json[\"phone\"]}}\nEmail: {{$node[\"Edit Fields\"].json[\"email\"]}}\nService: {{$node[\"Edit Fields\"].json[\"service_type\"]}}\nUrgency: {{$node[\"Edit Fields\"].json[\"urgency\"]}}\nIssue Summary: {{$node[\"Edit Fields\"].json[\"issue_summary\"]}}\n\nPlease follow up as soon as possible.\n\nBest regards,\nScan & Fix System\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "f0154764-cdd4-4e19-bd9c-6973a7b02c2e",
      "name": "Remider message",
      "webhookId": "d29ca9aa-dcc8-40e7-8728-6368b2775dd5",
      "credentials": {
        "gmailOAuth2": {
          "id": "KgMdPeneYxWSKLMU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "from": "+16783264184",
        "to": "={{ $json.phone }}",
        "message": "=Scan & Fix:  \nHello {{$node[\"Edit Fields\"].json[\"full_name\"]}},  \nYour {{$node[\"Edit Fields\"].json[\"service_type\"]}} request has been successfully received and recorded.  \nOur verified contractor team is reviewing your case: \n{{$node[\"Edit Fields\"].json[\"issue_summary\"]}} \n \nYou will be contacted shortly for the next steps. \n \n– Scan & Fix Team",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -832,
        96
      ],
      "id": "235e5653-c537-4674-9eb9-c1ae51b7e5ee",
      "name": "Send an SMS/MMS/WhatsApp message",
      "credentials": {
        "twilioApi": {
          "id": "7ufXTnlXuz8kzehL",
          "name": "Twilio account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Remider message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Homewoner Email": {
      "main": [
        [
          {
            "node": "Contractor alert email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contractor alert email": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an SMS/MMS/WhatsApp message": {
      "main": [
        [
          {
            "node": "Homewoner Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9bd909a6-415f-4b24-b73f-c61680769073",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4432878bdd0b70c955cf0077b63ec4509cdc6af71a147560d84a1a1be0ff75dd"
  },
  "id": "tDM4WTTmikAth2uA",
  "tags": []
}